@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-family: "Merriwetaher", serif;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 16vh;
  width: 100%;
  background-color: #001F3F;
}

.semantic_div {
  display: flex;
  justify-content: space-between;
  padding: 0mm 2mm;
}

.news_author, span {
  font-weight: 800;
  font-family: "Ubuntu", sans-serif;
  font-size: 4.5mm;
  margin-right: 2mm;
}

.news_description {
  margin: 2mm 0mm;
  font-size: 5.7mm;
}

.logo {
  color: rgb(134, 255, 248);
  display: flex;
  align-items: center;
  font-size: 1cm;
  font-family: "Ubuntu", sans-serif;
}
.logo svg {
  margin: 8px;
  font-size: 1.2cm;
}

.links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
}
.links ul .link_icon {
  width: 1.4cm;
  height: 0.95cm;
}
.links ul .link_icon svg {
  cursor: pointer;
}
.links ul li {
  list-style: none;
  width: 2cm;
  height: 0.95cm;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  transition: color 0.3s linear;
  justify-content: center;
}
.links ul li :hover {
  color: rgb(189, 189, 189);
}
.links ul li svg {
  font-size: 0.65cm;
  color: white;
}
.links ul li a {
  color: white;
  text-decoration: none;
}

.home {
  margin: 2cm;
  width: 60%;
}
.home .firstElm img {
  width: 100%;
}
.home .firstElm a h1 {
  font-size: 1cm;
}
.home .firstElm a h1:hover {
  -webkit-text-decoration: underline 4px rgb(254, 194, 14);
          text-decoration: underline 4px rgb(254, 194, 14);
}
.home .firstElm a {
  text-decoration: none;
  color: black;
}
.home .news_MainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1cm 0px;
}
.home .news_MainContainer .news_ctnr {
  width: calc(50% - 20px);
  margin: 7mm 2mm;
}
.home .news_MainContainer .news_ctnr img {
  width: 100%;
  aspect-ratio: 2/1;
}
.home .news_MainContainer .news_ctnr a {
  text-decoration: none;
  color: black;
}
.home .news_MainContainer .news_ctnr a :hover {
  text-decoration: underline;
}
.home .news_MainContainer .news_ctnr h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 8mm;
}

.sideNav {
  width: 10cm;
  position: fixed;
  top: 0px;
  background-color: gray;
  height: 100%;
  padding: 1cm;
  transition: all ease 0.5s;
}

.sideNewsComp {
  width: calc(40% - 6cm);
  margin: 2cm 0cm;
  margin-right: 2cm;
  padding: 15px;
  position: relative;
  top: 13cm;
  height: auto;
}
.sideNewsComp h2 {
  margin-bottom: 1mm;
}
.sideNewsComp .sideNewsDiv a {
  color: black;
}
.sideNewsComp .sideNewsDiv a h3 {
  font-size: 6mm;
  text-decoration: underline;
  text-decoration-color: rgb(254, 194, 14);
  text-decoration-thickness: 2.8px;
  transition: 0.5s;
}
.sideNewsComp .sideNewsDiv a h3:hover {
  text-decoration-thickness: 4px;
}
.sideNewsComp .sideNewsDiv h4 {
  margin: 5px 0px;
}/*# sourceMappingURL=master.css.map */